@import './variables.scss';

html {
    margin: $global-margin-tb $global-margin-lr 0 $global-margin-lr !important;
    width: calc(100vw - 2 * #{$global-margin-lr});
    background-color: $background_color;
}

header.page_header {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1em;

    h1 {
        margin: 0;
    }
}

a {
    color: $link_btn_color; // cheating!!
    text-decoration: none;

    &:visited {
        color: $link_btn_color--visited;
    }

    &:hover {
        color: $link_btn_color--hover;
    }
}