// global colors
$black: #414141;
$white: #e7e5d6;
$red: #ea4f51;
$light-blue: #93c5e2;
$blue: 	#1b60a9;

// color role assignment
$primary-color: $black;
$primary-complement: $white;
$secondary-color: $black;
$accent-color: $black;
$background-color: $white;

$text-color: $black;
$logo-color: $black;
$icon-link-color: $black;

// layout stuff
$global-margin-tb: 5vh;
$global-margin-lr: 10vw;
$nav-height: 50px;
$footer-height: 50px;
$grid-row-gap: 5vh;
$grid-col-gap: 5px;
$total-width: calc(100vw - 2 * #{$global-margin-lr});
$total-height: calc(100vh - #{$global-margin-tb});
$main-height: calc(#{$total-height} - #{$nav-height} - #{$footer-height} - 2 * #{$grid-row-gap});


// media query breakpoints
$media-sm: 360px;
$media-md: 750px;
$media-lg: 1100px;
$media-xl: 1400px;