$global-margin-tb: 5vh;
$global-margin-lr: 10vw;

$background_color: hsla(0,0%,0%,.01);

$link_btn_color: hsla(0,0%,0%,.5);
$link_btn_color--hover: hsla(0,0%,0%,.8);
$link_btn_color--visited: hsla(0,0%,0%,1);