@import '../styles/variables.scss';

footer.footer {
    display: flex;
    grid-area: footer;

    @media screen and (max-width: $media-md) {
        justify-content: center;
        align-items: center;
    }
}

footer.footer > * {
    margin-right: 1em;
}