@import '../styles/variables.scss';

div.layout {
    display: grid;
    grid-template-columns: 20vw repeat(3, 1fr);
    grid-template-rows: $nav-height 1fr $footer-height;
    grid-row-gap: $grid-gap;
    grid-template-areas:
        "title title title title"
        "nav main main main"
        "footer main main main";
    height: $total-height;

    @media screen and (max-width: $media-md) {
        grid-template-areas:
        "title title title nav"
        "main main main main"
        ". footer footer ."
    }
}

main {
    grid-area: main;
    overflow: scroll;
}

main.fadeInMain {
    animation-name: fadeIn;
    animation-duration: .6s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

.logo {
    grid-area: title;
    line-height: initial;
    letter-spacing: 2px;
    justify-self: start;
    align-self: center;
}
