@import '../styles/variables.scss';

div.layout {
    display: grid;
    grid-template-columns: 20vw repeat(3, 1fr);
    grid-template-rows: $nav-height 1fr $footer-height;
    grid-row-gap: $grid-row-gap;
    grid-gap: $grid-col-gap;
    grid-template-areas:
        "title . . ."
        "nav main main main"
        "footer main main main";
    height: $total-height;

    @media screen and (max-width: $media-md) {
        grid-template-areas:
        "title title title nav"
        "main main main main"
        ". footer footer ."
    }
}

main {
    grid-area: main;
    overflow-y: scroll;
    overflow-x: clip;
    scrollbar-color: $primary-color $white;
}

main.fadeInMain {
    animation-name: fadeIn;
    animation-duration: .6s;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  
  .show-scrollbar {
    -ms-overflow-style: auto;  /* IE and Edge */
    scrollbar-width: auto;  /* Firefox */
  }
  
  .show-scrollbar::-webkit-scrollbar {
    display: block; /* Chrome, Safari, Opera*/
  }

@keyframes fadeIn {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

.logo {
    grid-area: title;
}

.logo > svg {
    object-fit: cover;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    

    path {
        transition: fill 0.2s;
        fill: $logo-color;
    }

    &:hover {
        path {
            fill: $primary-color;
        }
        
    }
}
