@import '../styles/variables.scss';

nav.navBar {
    display: flex;
    flex-flow: column nowrap;

    grid-area: nav;

    $nav-transition-time: .4s;
    transition-timing-function: ease;

    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width $nav-transition-time, height $nav-transition-time, background-color $nav-transition-time, transform $nav-transition-time;

    button.menuButton {
        // TODO
    }

    @media screen and (max-width: $media-md) {
        a {
            display: none;
        }

        &.menuOpen {
            position: absolute; 
            width: $main-width;
            height: $main-height;
            background-color: whitesmoke;
            a {
                display: block;
            }
        }
    }

    @media screen and (min-width: $media-md) {
        button.menuButton {
            display: none;
        }
    }
}
