@import '../styles/variables.scss';

nav.navBar {
    display: flex;
    flex-flow: column nowrap;

    grid-area: nav;

    @media screen and (max-width: $media-md) {
        a {
            display: none;
        }

        &.menuOpen {
            position: absolute; 
            width: $main-width;
            height: $main-height;
            background-color: whitesmoke;
            a {
                display: block;
            }
        }
    }

    @media screen and (min-width: $media-md) {
        button.menuButton {
            display: none;
        }
    }
}
